# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly specify text files to enforce LF line endings
*.js text
*.ts text
*.json text
*.md text
*.vue text
*.txt text
